{% extends 'base.html' %}
{% load static %}
{% block content %}

      <main>
        <!-- Dashboard page -->

        <!-- Display a heading if there are posts -->
          {% if posts %}
        <h2>Published Posts</h2>


        <section id="dashboard">
          <!-- Display a div with information about each post (if any) -->
        {% for post in posts %}
          <!-- first post -->
          <div class="post">
            <!-- post image -->
            <img
              src="{{ post.image_url }}"
              alt="{{ post.title }} image"
            />
            <!-- post title -->
            <h3 class="title">{{ post.title }}</h3>
            <!-- post content -->
            <p class="description">{{ post.context }}!</p>
            <!-- post details button -->
            <a class="details-btn" href="{% url 'post-details' post.id %}">See More</a>
          </div>
        {% endfor %}
            <!-- Display a heading if there are NO posts -->
          {% else %}
        <h2>No published posts yet.</h2>
          {% endif %}
        </section>
      </main>

{% endblock %}